.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.todo-section {
  flex-grow: 2;
  /* border: 2px solid red; */
}

.completed-todos-section{
  flex-grow: 1;
/* border: 2px solid red; */
}